In [1]:
# Se importan librerías y dependencias
from datetime import date, datetime, timedelta
import matplotlib.pyplot as plt
from meteostat import Stations, Daily
import pycaret
from pycaret.regression import *
import pandas as pd

In [2]:
# Se obtiene los datos
# El ID 87582 correponde a la estación meteorológica Aeroparque Bs. As. Aerodrome
start = datetime(1973, 1, 1) # fecha a partir de la que se tienen datos para esa estación
end = datetime.now() - timedelta(days=1)

data = Daily('87582', start, end)
data = data.fetch()

In [3]:
# Se crean features adicionales
def create_features(data):
    data['day'] = data.index.day
    data['month'] = data.index.month
    data['year'] = data.index.year
    
    Y = 2000 # dummy leap year to allow input X-02-29 (leap day)
    seasons = [('verano', (date(Y,  1,  1),  date(Y,  3, 20))),
               ('otonio', (date(Y,  3, 21),  date(Y,  6, 20))),
               ('invierno', (date(Y,  6, 21),  date(Y,  9, 20))),
               ('primavera', (date(Y,  9, 21),  date(Y, 12, 20))),
               ('verano', (date(Y, 12, 21),  date(Y, 12, 31)))]
    
    def get_season(now):
        now = now.date()
        now = now.replace(year=Y)
        return next(season for season, (start, end) in seasons
                    if start <= now <= end)
    
    data['season'] = pd.Categorical(data.index.map(get_season))

create_features(data)
# Se agregan las temperaturas minima y maxima de dias anteriores como features
DAYS = 5
for i in range(1, DAYS + 1):
    data['tmin-' + str(i)] = data['tmin'].shift(periods=i)
    data['tmax-' + str(i)] = data['tmax'].shift(periods=i)

In [4]:
data

,tavg,tmin,tmax,prcp,snow,wdir,wspd,wpgt,pres,tsun,...,tmin-1,tmax-1,tmin-2,tmax-2,tmin-3,tmax-3,tmin-4,tmax-4,tmin-5,tmax-5
time,,,,,,,,,,,,,,,,,,,,,
1973-01-01,26.7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1973-01-02,28.7,23.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1973-01-03,24.4,20.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,23.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1973-01-04,26.7,22.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,20.0,NaN,23.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1973-01-05,27.1,24.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,22.0,NaN,20.0,NaN,23.0,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023-12-16,27.3,25.0,30.0,0.0,NaN,37.0,14.1,NaN,1006.7,NaN,...,25.0,28.0,21.0,26.0,23.0,31.3,22.0,31.0,20.9,28.0
2023-12-17,22.3,19.0,28.0,26.7,NaN,94.0,19.8,NaN,1007.4,NaN,...,25.0,30.0,25.0,28.0,21.0,26.0,23.0,31.3,22.0,31.0
2023-12-18,19.2,16.0,22.0,19.7,NaN,151.0,17.3,NaN,1014.4,NaN,...,19.0,28.0,25.0,30.0,25.0,28.0,21.0,26.0,23.0,31.3
2023-12-19,16.7,13.0,20.0,0.0,NaN,146.0,21.8,NaN,1020.0,NaN,...,16.0,22.0,19.0,28.0,25.0,30.0,25.0,28.0,21.0,26.0
2023-12-20,20.7,17.0,23.0,0.8,NaN,103.0,22.4,NaN,1017.2,NaN,...,13.0,20.0,16.0,22.0,19.0,28.0,25.0,30.0,25.0,28.0

In [5]:
data_to_predict_tmin = data[['tmin', 'tmin-1', 'tmax-1', 'day', 'month', 'year', 'season']]
data_to_predict_tmin.dropna(inplace=True)
data_to_predict_tmin
s = setup(data_to_predict_tmin, target = 'tmin', session_id = 124)
# se crea el modelo
model_tmin = create_model('gbr')
model_tmin = finalize_model(model_tmin)

In [6]:
data_to_predict_tmax = data[['tmin', 'tmax', 'tmin-1', 'tmax-1', 'day', 'month', 'year', 'season']]
data_to_predict_tmax.dropna(inplace=True)
data_to_predict_tmax
s = setup(data_to_predict_tmax, target = 'tmax', session_id = 125)
# se crea el modelo
model_tmax = create_model('catboost')
model_tmax = finalize_model(model_tmax)

In [7]:
#### PREDICCION ####
# Se crea el dataframe con los datos a predecir
today = date.today()
dates = pd.date_range(today, periods=1)

d = {}

#for i in range(1, DAYS + 1):
for i in range(1, 2):
    d['tmin-' + str(i)] = [data.loc[str(today - timedelta(days=i))]['tmin']]
    d['tmax-' + str(i)] = [data.loc[str(today - timedelta(days=i))]['tmax']]

new_data = pd.DataFrame(data=d, index=dates)
create_features(new_data)

new_data

            tmin-1  tmax-1  day  month  year  season
2023-12-21    17.0    23.0   21     12  2023  verano

In [8]:
# se predice tmin
predictions = predict_model(model_tmin, data=new_data)
predictions.rename(columns={"prediction_label": "tmin"}, inplace=True)
predictions

            tmin-1  tmax-1  day  month  year  season       tmin
2023-12-21    17.0    23.0   21     12  2023  verano  18.183105

In [9]:
# se predice tmax
predictions = predict_model(model_tmax, data=predictions)
predictions.rename(columns={"prediction_label": "tmax"}, inplace=True)
predictions

            tmin-1  tmax-1  day  month  year  season       tmin       tmax
2023-12-21    17.0    23.0   21     12  2023  verano  18.183105  24.738251